#header .box-nav-ul .item-link{
    color: #fdfdfd;
}
#header .box-nav-ul .item-link:hover{
    color: #FFCC00;
}
.rating-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.rating-stars input[type="radio"] {
    display: none;
}

.rating-stars label {
    font-size: 28px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
    margin: 0 2px;
}

.rating-stars input[type="radio"]:checked ~ label,
.rating-stars label:hover,
.rating-stars label:hover ~ label {
    color: #FFD700; /* màu vàng sao */
}
